<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://picsum.photos/1920/960/?image=791" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">Scopri Arena Giovani</h1>
          <p class="d-none d-lg-block">"Arena Giovani" è un progetto ambizioso che mira a offrire nuovi servizi e opportunità sociali dedicati ai giovani di Fontanafredda. Si tratta di un'iniziativa che vuole rispondere alle esigenze dei giovani, creando spazi e attività che favoriscano la loro crescita personale, il loro coinvolgimento nella comunità e lo sviluppo di competenze utili per il futuro.</p>
          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="#">Link di esempio</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
